<footer class="footer text-right">
  <div class="pull-right hidden-xs"><b>Version</b> 1.1.0</div>
  <strong>
    © <%= new Date().getFullYear().toString(); %>
    <a href="javascript:void(0);" class="text-dark">Deggstore</a>.</strong>
    <span>All rights reserved.</span>
  <ul style="display: inline-flex; list-style-type: none; padding: 0%; margin: 0%;">
    <li><a style="display: block; margin: 2px 10px; padding: 2px;" class="text-dark" href="/help" target="_blank" rel="noopener noreferrer">Help</a></li>
    <li><a style="display: block; margin: 2px 10px; padding: 2px;" class="text-dark" href="/term_of_service" target="_blank" rel="noopener noreferrer">Terms of Service</a></li>
    <li><a style="display: block; margin: 2px 10px; padding: 2px;" class="text-dark" href="/privacy_policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
    <li><a style="display: block; margin: 2px 10px; padding: 2px;" class="text-dark" href="/distribution_agreement" target="_blank" rel="noopener noreferrer">Developer Distribution Agreement</a></li>
  </ul>
</footer>
