<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
  <div class="slimscroll-menu" id="remove-scroll">
    <!-- - Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu" id="side-menu">
        <li class="menu-title">Main menu</li>
        <li>
          <a href="/app/dashboard">
            <i class="fi-content-left"></i>
            <span> All Applications </span>
          </a>
        </li>

        <li>
          <a href="/app/game-services">
            <i class="dripicons-gaming"></i>
            <span> Game Services </span>
          </a>
        </li>

        <li>
          <a href="/app/reports">
            <i class="mdi mdi-comment-alert-outline"></i>
            <span> Reports </span>
          </a>
        </li>

        <li>
          <a href="javascript: void(0);">
            <i class="fi-cog"></i><span> Settings </span>
            <span class="menu-arrow"></span></a>
            <ul class="nav-second-level" aria-expanded="false">
              <li><a href="/app/account-details">Account details</a></li>
              <li><a href="/app/account-rights">Users account & rights</a></li>
              <li><a href="/app/activity">Activity log</a></li>
              <li><a href="/app/email-notify">Email notifications</a></li>
              <li><a href="/app/api-access">Api access</a></li>
              <li><a href="/app/account-linked">Linked accounts</a></li>
              <li><a href="/app/developer">Developer's page</a></li>
            </ul>
          </a>
        </li>
        
        <li>
          <a href="/app/alerts">
            <i class="mdi mdi-alert-circle-outline"></i>
            <span> Alerts </span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->
