<style>
    #create:hover,
    #create:active,
    #create:any-link,
    #create:focus{
        background-color: transparent !important;
        border: none !important;
    }
</style>

<div class="page-title-box">
    <h4 class="page-title float-left">
        <span>All Applications</span>
        <!-- View Grid Button -->
        <button type="button" class="btn btn-secondary text-success" title="Grid View" style="padding: 0px 5px !important; font-size: 20px !important;">
            <span class="mdi mdi-view-grid"></span>
        </button>
        <!-- View List Button -->
        <button type="button" class="btn btn-secondary" title="List View" style="padding: 0px 5px !important; font-size: 20px !important;">
            <span class=" mdi mdi-view-headline"></span>
        </button>
    </h4>

    <a href="javascript: void(0);" style="padding: 2px 8px !important;" id="create" class="text-dark pull-right"
        data-toggle="modal" data-target="#createAppModal">
        <b class="fi-marquee-plus" style="font-size: 25px;"></b>
    </a>
    <!-- New App Modal -->
    <div class="modal fade" id="createAppModal" tabindex="-1" role="dialog" aria-labelledby="createAppModal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">New App</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <form action="/app/publish/draft" method="POST">
                            <b>Default language <b class="text-danger">*</b></b><br>
                            <select name="default_language" id="default_language" style="border: 1px solid #dddddd;"
                                class="btn btn-sm w-md waves-effect waves-light" required>
                                <option value="English-US">English (United States)</option>
                                <option value="English-BR">English (Bristish)</option>
                            </select>
                            <br><br>
                            <b>Title <b class="text-danger">*</b></b><br>
                            <input type="text" name="app_title" id="app_title" class="form-control" maxlength="30" autocomplete="off" required />
                            <p> 0-30 characters only. </p>
                            <!-- Error Messages -->
                            <%- messages() %>
                            <div class="float-right">
                                <input type="submit" name="createBtn" id="createBtn" style="cursor: no-drop; opacity: 0.2;" disabled value="Create" class="btn btn-success" />
                                <input type="button" name="cancelBtn" id="cancelBtn" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- End of New App Modal -->
    <div class="clearfix"></div>
</div>