<div class="col-xl-4 col-sm-6">
	<div
		class="card-box widget-box-three"
		style="padding: 15px; min-height: 150px;"
	>
		<div class="bg-icon pull-left">
			<img src="/assets/images/icons/paid.svg" title="paid.svg" />
		</div>
		<div class="text-right">
			<p class="m-t-5 text-uppercase font-14 font-600">Installs by users</p>
			<h2 class="m-b-10"><span data-plugin="counterup">6,254</span></h2>
		</div>
	</div>
</div>

<div class="col-xl-4 col-sm-6">
	<div
		class="card-box widget-box-three"
		style="padding: 15px; min-height: 150px;"
	>
		<div class="bg-icon pull-left">
			<img src="/assets/images/icons/paid.svg" title="paid.svg" />
		</div>
		<div class="text-right">
			<p class="m-t-5 text-uppercase font-14 font-600">Uninstalls by users</p>
			<h2 class="m-b-10"><span data-plugin="counterup">6,254</span></h2>
		</div>
	</div>
</div>

<div class="col-xl-4 col-sm-6">
	<div
		class="card-box widget-box-three"
		style="padding: 15px; min-height: 150px;"
	>
		<div class="bg-icon pull-left">
			<img src="/assets/images/icons/paid.svg" title="paid.svg" />
		</div>
		<div class="text-right">
			<p class="m-t-5 text-uppercase font-14 font-600">Average rating</p>
			<h2 class="m-b-10"><span data-plugin="counterup">6,254</span></h2>
		</div>
	</div>
</div>

<div class="col-xl-12 col-sm-12">
	<div
		class="card-box widget-box-three"
		style="padding: 15px; min-height: 300px;"
	>
		<div class="bg-icon pull-left">
			<img src="/assets/images/icons/paid.svg" title="paid.svg" />
		</div>
		<div class="text-right">
			<p class="m-t-5 text-uppercase font-14 font-600">Crashes & ANRs</p>
			<h2 class="m-b-10"><span data-plugin="counterup">6,254</span></h2>
		</div>
	</div>
</div>
