<!-- Begin page -->
<div id="wrapper">
	<%- include("./partials/header.html"); %> 
	<%- include("./partials/menu.html"); %>
	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div class="content-page">
		<!-- Start content -->
		<div class="content">
			<div class="container-fluid">
				<%- include(src); %>
			</div>
			<!-- container -->
		</div>
		<br><br>
		<!-- content -->
		<!-- Footer -->
		<%- include("./partials/footer.html"); %>
	</div>
	<!-- ============================================================== -->
	<!-- End Right content here -->
	<!-- ============================================================== -->
</div>
<!-- END wrapper -->
