<!DOCTYPE html>
<html style="height: auto; min-height: 100%;">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>    
    <title><%= title %> - Degg Station</title>
    <link rel="shortcut icon" href="/assets/images/logo/Degg_bw.png" type="image/x-icon"/>

    <!-- CustomBox -->
    <link href="/plugins/custombox/css/custombox.min.css" rel="stylesheet">

    <!-- App css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />

    <!-- Defaultly, Let every Element have this styling -->
    <style>
      *{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      *::-moz-selection {
        color: #ffffff;
        background-color: #009378;
      }

      *::-webkit-selection {
        color: #ffffff;
        background-color: #009378;
      }

      *::selection {
        color: #ffffff;
        background-color: #009378;
      }

    </style>
    <script src="/assets/js/modernizr.min.js"></script>
  </head>

  <body>
    
    <%- body %>
    
    <!-- jQuery  -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    
    <!-- Popper for Bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/metisMenu.min.js"></script>
    <script src="/assets/js/waves.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/plugins/custombox/js/custombox.min.js"></script>
    <script src="/plugins/custombox/js/legacy.min.js"></script>
    
    <!-- Flot Chart js -->
    <script src="/plugins/flot-chart/jquery.flot.min.js"></script>
    <script src="/plugins/flot-chart/jquery.flot.time.js"></script>
    <script src="/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
    <script src="/plugins/flot-chart/jquery.flot.resize.js"></script>
    <script src="/plugins/flot-chart/jquery.flot.pie.js"></script>
    <script src="/plugins/flot-chart/jquery.flot.selection.js"></script>
    <script src="/plugins/flot-chart/jquery.flot.stack.js"></script>
    <script src="/plugins/flot-chart/jquery.flot.orderBars.min.js"></script>
    <script src="/plugins/flot-chart/jquery.flot.crosshair.js"></script>
    <script src="/plugins/flot-chart/curvedLines.js"></script>
    <script src="/plugins/flot-chart/jquery.flot.axislabels.js"></script>
    <script src="/assets/pages/jquery.flot.init.js"></script>
    <div id="flotTip" style="display: none; position: absolute; left: 480px; top: 2805px;"></div>

    <!-- App js -->
    <script src="/assets/js/jquery.core.js"></script>
    <script src="/assets/js/jquery.app.js"></script>

    <!-- File Upload -->
    <script src="/assets/js/fileUpload.js"></script>

    <!-- Alerts -->
    <script src="/assets/js/sweetalert.js"></script>
    <script src="/assets/scripts/alert.js"></script>

    <!-- Scripts -->
    <script src="/assets/scripts/main-script.js"></script>
    <script src="/assets/scripts/client.js"></script>
    <script>
      $("body").addClass("enlarged");
    </script>
  </body>
</html>


