<div class="row">
  <div class="col-12">
    <style>
      #create:hover,
        #create:active,
        #create:any-link,
        #create:focus{
            background-color: transparent !important;
            border: none !important;
        }
    </style>
    
    <div class="page-title-box" style="background: transparent; border: none;">
      <a href="javascript: void(0);" style="padding: 2px 8px !important;" id="create" class="text-dark pull-right"
        data-toggle="modal" data-target="#createAppModal">
        <b class="fi-marquee-plus" style="font-size: 25px;"></b>
      </a>
      <!-- New App Modal -->
      <div class="modal fade" id="createAppModal" tabindex="-1" role="dialog" aria-labelledby="createAppModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title mt-0">New App</h5>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <form method="POST">
                  <b>Default language <b class="text-danger">*</b></b><br>
                  <select name="default_language" id="default_language" style="border: 1px solid #dddddd;" class="btn btn-sm w-md waves-effect waves-light"
                    required>
                    <option value="English-US">English (United States)</option>
                    <option value="English-BR">English (Bristish)</option>
                  </select>
                  <br><br>
                  <b>Title <b class="text-danger">*</b></b><br>
                  <input type="text" name="app_title" id="app_title" class="form-control" maxlength="50" autocomplete="off"
                    required />
                  <p> 30 characters only. </p>
                  <!-- Error Messages -->
                  <%- messages() %>
                  <div class="float-right">
                    <input type="submit" name="createBtn" id="createBtn" style="cursor: no-drop; opacity: 0.2;" disabled
                      value="Create" formaction="/app/publish/draft" class="btn btn-success" />
                    <input type="button" name="cancelBtn" id="cancelBtn" value="Cancel" class="btn btn-default"
                      data-dismiss="modal" />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- End of New App Modal -->
    </div>
  </div>
</div>
<!-- end row -->

<div class="row">
  <div class="col-12">
    <div class="card-box" style="border: transparent; background-color: transparent; box-shadow: none;">
      <div class="row">
        <% if(typeof apps != "undefined" || null) { %>
        <% for(var i = 0; i < apps.length; i++) { %>
        <% var app = apps[i]; %>
        <div class="col-sm-3 col-xl-2">
          <div class="file-man-box">
            <div class="file-img-box">
              <img src="<%= app.app_icon.path || '/assets/images/draft_icon.png'%>" alt="App icon" />
            </div>
  
            <div class="file-man-title">
              <a href="/app/publish/<%= app._id %>/dashboard">
                <h5 class="m-b-0 text-overflow" title="<%= app.app_title %>">
                  <%= app.app_title %>
                </h5>
              </a>
              <p class="m-b-0">
                <small><b>
                    <%= app.version %></b></small>
                <small class="<%= app.status %>" title="<%= app.status.toUpperCase(); %>"></small>
                <small>
                  <%= app.app_price || "not specified" %></small></p>
            </div>
          </div>
        </div>
        <% } %>
        <% } %>
      </div>
      <% if(typeof app == "undefined" || null ) { %>
      <!-- If Apps are not found Display this -->
      <br>
      <center>
        <div style="width: 350px;">
          <span class="mdi mdi-blur" style="opacity: .5; font-size: 100px;"></span>
          <p>
            <h4>You don't have any apps yet!.</h4>
            <a href="javascript: void(0);" data-toggle="modal" data-target="#createAppModal">Create your first app.</a>
          </p>
        </div>
      </center>
      <% } %>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->