<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-outlines">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/assets/css/_style.css" />
</head>

<body>
    <div class="wrapper">
      <div class="m-error m-error-404">
        <div class="m-error--content">
          <div class="m-error--title"><h1 class="h1">404</h1></div>
          <div class="m-error--desc">
            <h2 class="h2" style="color: #cccccc;">Oops! You're Lost.</h2>
            <p>Sorry, we couldn't find the page you are looking for...</p>
            <div class="m-error--search">
              <form action="/search" method="GET">
                <div class="input-group">
                  <input
                    type="text"
                    name="s"
                    placeholder="Search For Anything..."
                    class="form-control"
                    required
                  />
                  <button type="submit" class="btn btn-rounded">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
                <a href="/app" class="btn btn-block btn-rounded btn-success"
                  >Go Back To Dashboard</a
                >
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
