<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-outlines">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/assets/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/assets/css/_style.css" />
</head>

<body>
    <div class="wrapper">
      <div class="m-error m-error-500">
        <div class="m-error--content">
          <div class="m-error--logo">
            <img src="/assets/images/maintenance-icon.gif" alt="" />
          </div>
          <div class="m-error--desc">
            <h2 class="h2">Site Maintenance</h2>
            <p>We're sorry for the inconvenience.</p>
            <p>Please check back later.</p>
          </div>
          <div class="m-error--social">
            <ul class="nav">
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-skype"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
